html
   head
      title Simple template
      link(rel="stylesheet", href="css/style.css", type="text/css")
   body
      include ./header.pug
      h3 I'm the #{page} page
      include ./footer.pug