html
   head
      title Simple template
   body
      include ./header.pug
      h3 I'm the #{page} page
      main 
         div 
            p div html 
         
      include ./footer.pug
      script(src="/js/script.js") 